openapi: 3.1.0
info:
  title: Reown Cloud Explorer Chains API
  description: 'The Reown (formerly WalletConnect) Cloud Explorer API exposes the public

    directory of WalletGuide-approved wallets, dApps, hybrid entries, and

    chains backing the Reown ecosystem, plus logo assets for these listings.

    All endpoints require a `projectId` query parameter issued from the

    Reown Dashboard at https://dashboard.reown.com.


    Only the Cloud Explorer surface is modeled here. See the documentation

    for related Reown surfaces including Notify, Blockchain RPC, and the

    SDK-mediated WalletConnect Relay.

    '
  version: 1.0.0
  contact:
    name: Reown Documentation
    url: https://docs.reown.com/cloud/explorer
  license:
    name: Reown Proprietary
servers:
- url: https://explorer-api.walletconnect.com
  description: Reown Cloud Explorer production server
security:
- projectIdAuth: []
tags:
- name: Chains
  description: Blockchain chains registered under CASA namespaces.
paths:
  /v3/chains:
    get:
      tags:
      - Chains
      summary: List chains
      description: Returns blockchain chains registered under CASA namespaces.
      operationId: listChains
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: testnets
        in: query
        schema:
          type: boolean
        description: Include test networks in the response.
      - name: namespaces
        in: query
        schema:
          type: string
        description: Comma-separated CASA namespaces to filter by (e.g. eip155,solana).
      responses:
        '200':
          description: A list of chains.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chain'
components:
  parameters:
    ProjectId:
      name: projectId
      in: query
      required: true
      schema:
        type: string
      description: Reown project ID.
  schemas:
    Chain:
      type: object
      properties:
        id:
          type: string
          description: CAIP-2 chain identifier.
        namespace:
          type: string
        name:
          type: string
        testnet:
          type: boolean
  securitySchemes:
    projectIdAuth:
      type: apiKey
      in: query
      name: projectId
      description: 'Reown project ID from the Reown Dashboard at

        https://dashboard.reown.com. Passed as a `projectId` query parameter

        on every request.

        '
externalDocs:
  description: Reown Cloud Explorer documentation
  url: https://docs.reown.com/cloud/explorer
