openapi: 3.1.0
info:
  title: Reown Cloud Explorer API
  description: |
    The Reown (formerly WalletConnect) Cloud Explorer API exposes the public
    directory of WalletGuide-approved wallets, dApps, hybrid entries, and
    chains backing the Reown ecosystem, plus logo assets for these listings.
    All endpoints require a `projectId` query parameter issued from the
    Reown Dashboard at https://dashboard.reown.com.

    Only the Cloud Explorer surface is modeled here. See the documentation
    for related Reown surfaces including Notify, Blockchain RPC, and the
    SDK-mediated WalletConnect Relay.
  version: "1.0.0"
  contact:
    name: Reown Documentation
    url: https://docs.reown.com/cloud/explorer
  license:
    name: Reown Proprietary
externalDocs:
  description: Reown Cloud Explorer documentation
  url: https://docs.reown.com/cloud/explorer
servers:
  - url: https://explorer-api.walletconnect.com
    description: Reown Cloud Explorer production server
tags:
  - name: Listings
    description: Wallet, dApp, and hybrid directory listings.
  - name: Chains
    description: Blockchain chains registered under CASA namespaces.
  - name: Logos
    description: Logo image assets for listings.
security:
  - projectIdAuth: []
paths:
  /v3/wallets:
    get:
      tags: [Listings]
      summary: List wallets
      description: Returns wallet listings from the Cloud Explorer directory.
      operationId: listWallets
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Entries'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Ids'
        - $ref: '#/components/parameters/Chains'
        - $ref: '#/components/parameters/Platforms'
        - $ref: '#/components/parameters/Sdks'
        - $ref: '#/components/parameters/Standards'
      responses:
        '200':
          description: A page of wallet listings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsResponse'
  /v3/dapps:
    get:
      tags: [Listings]
      summary: List dApps
      description: Returns dApp listings from the Cloud Explorer directory.
      operationId: listDapps
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Entries'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Ids'
        - $ref: '#/components/parameters/Chains'
        - $ref: '#/components/parameters/Platforms'
        - $ref: '#/components/parameters/Sdks'
        - $ref: '#/components/parameters/Standards'
      responses:
        '200':
          description: A page of dApp listings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsResponse'
  /v3/hybrid:
    get:
      tags: [Listings]
      summary: List hybrid entries
      description: Returns hybrid listings (entries that are both wallets and dApps).
      operationId: listHybrid
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Entries'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Ids'
        - $ref: '#/components/parameters/Chains'
        - $ref: '#/components/parameters/Platforms'
        - $ref: '#/components/parameters/Sdks'
        - $ref: '#/components/parameters/Standards'
      responses:
        '200':
          description: A page of hybrid listings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsResponse'
  /v3/all:
    get:
      tags: [Listings]
      summary: List all entries
      description: Returns all entries (wallets, dApps, and hybrids) listed in the Cloud Explorer.
      operationId: listAll
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Entries'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Ids'
        - $ref: '#/components/parameters/Chains'
        - $ref: '#/components/parameters/Platforms'
        - $ref: '#/components/parameters/Sdks'
        - $ref: '#/components/parameters/Standards'
      responses:
        '200':
          description: A page of mixed listings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingsResponse'
  /v3/chains:
    get:
      tags: [Chains]
      summary: List chains
      description: Returns blockchain chains registered under CASA namespaces.
      operationId: listChains
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: testnets
          in: query
          schema:
            type: boolean
          description: Include test networks in the response.
        - name: namespaces
          in: query
          schema:
            type: string
          description: Comma-separated CASA namespaces to filter by (e.g. eip155,solana).
      responses:
        '200':
          description: A list of chains.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chain'
  /v3/logo/{size}/{image_id}:
    get:
      tags: [Logos]
      summary: Get a logo image
      description: |
        Returns the image source of the logo for `image_id` sized according
        to `size`.
      operationId: getLogo
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: size
          in: path
          required: true
          schema:
            type: string
            enum: [sm, md, lg]
          description: Size of the logo to return.
        - name: image_id
          in: path
          required: true
          schema:
            type: string
          description: Identifier of the image to return.
      responses:
        '200':
          description: Logo image.
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    projectIdAuth:
      type: apiKey
      in: query
      name: projectId
      description: |
        Reown project ID from the Reown Dashboard at
        https://dashboard.reown.com. Passed as a `projectId` query parameter
        on every request.
  parameters:
    ProjectId:
      name: projectId
      in: query
      required: true
      schema:
        type: string
      description: Reown project ID.
    Entries:
      name: entries
      in: query
      schema:
        type: integer
        default: 100
      description: Number of entries per page.
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number.
    Search:
      name: search
      in: query
      schema:
        type: string
      description: Free-text search term.
    Ids:
      name: ids
      in: query
      schema:
        type: string
      description: Comma-separated list of listing identifiers to filter by.
    Chains:
      name: chains
      in: query
      schema:
        type: string
      description: Comma-separated CAIP-2 chain identifiers (e.g. eip155:1).
    Platforms:
      name: platforms
      in: query
      schema:
        type: string
      description: Comma-separated platforms (e.g. ios,android,web).
    Sdks:
      name: sdks
      in: query
      schema:
        type: string
      description: Comma-separated SDKs to filter by.
    Standards:
      name: standards
      in: query
      schema:
        type: string
      description: Comma-separated supported standards.
  schemas:
    ListingsResponse:
      type: object
      properties:
        count:
          type: integer
          description: Total number of matching listings.
        listings:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Listing'
    Listing:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        homepage:
          type: string
          format: uri
        chains:
          type: array
          items:
            type: string
        versions:
          type: array
          items:
            type: string
        sdks:
          type: array
          items:
            type: string
        app_type:
          type: string
        image_id:
          type: string
        image_url:
          type: object
          additionalProperties:
            type: string
            format: uri
        platforms:
          type: array
          items:
            type: string
        standards:
          type: array
          items:
            type: string
    Chain:
      type: object
      properties:
        id:
          type: string
          description: CAIP-2 chain identifier.
        namespace:
          type: string
        name:
          type: string
        testnet:
          type: boolean
